@import "~node-waves/dist/waves.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  touch-action: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: auto;
  font-size: 0.32rem;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.padding-h {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.am-tab-bar {
  height: max-content!important;
}
.am-tab-bar-tab {
  height: 100%;
}
.am-pull-to-refresh-content, .am-pull-to-refresh-content-wrapper, .am-pull-to-refresh {
  height: 100%;
}

