@import "~node-waves/dist/waves.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  touch-action: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: auto;
  font-size: 0.32rem;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.padding-h {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  color: #969799;
  font-size: 14px;
  line-height: 24px;
  border-color: #ebedf0;
  border-style: solid;
  border-width: 0;
}
.divider:before, .divider:after {
  content: "";
  display: block;
  flex: 1;
  box-sizing: border-box;
  height: 1px;
  border-color: inherit;
  border-style: inherit;
  border-width: 1px 0 0;
  transform: scaleY(.5);
}
.divider:before {
  margin-right: 16px;
}
.divider:after {
  margin-left: 16px;
}
.position-bottom {
  margin-top: auto
}

.am-tab-bar {
  height: max-content!important;
}
.am-tab-bar-tab {
  height: 100%;
}
.am-pull-to-refresh-content, .am-pull-to-refresh-content-wrapper, .am-pull-to-refresh {
  height: 100%;
}

